*{
       text-decoration: none;
}

body{
       min-height: 100vh;
              background: url('wallpaper2.png') no-repeat;
       background-size: cover;
       background-position: center;
}

header{
       position: fixed;
       font-family: Verdana;
       padding-right: 40px;
       padding-left: 35px;
       padding-top: 5px;
       padding-bottom: 5px;
       position: sticky;
}
    
.playG {
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    
.logos a {    
       font-size: 3em;
       font-weight: bold;
       color: rgb(192, 60, 236);
    }
    
.nav {
       display: flex;
       align-items: center;
    }
    
.nav-menu {
       margin: 0;
       padding: 0;
       list-style: none;
       margin-right: 20px; 

    }
    
.nav-menu li {
       display: inline-block;
       padding: 0;
       margin: 0;
       padding-top: 10px;
       padding-left: 40px;
    }
    
.nav-menu a {
       color: white;
       font-size: 22px;
       font-weight: bold;
       margin-right: 25px;
       position: relative;
       padding-bottom: 3.5px;
    }

.nav-menu a::before {
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
       width: 0;
       height: 10px;
       background: rgb(201, 20, 221);
       z-index: -1;
       transition: width 0.2s ease;
}
    
.nav-menu a:hover::before {
       width: 100%;
}
    
button {
       background-color: rgb(0, 0, 0);
       border-radius: 10px;
       border: none;
       margin-bottom: 10px;
       margin-top: 10px;
       width: 100px;
       padding: 20px;
       padding-right: 125px;
       padding-left: 30px;
       vertical-align: middle;
    }
    
button a {
       color: rgb(153, 5, 158);
       font-weight: bold;
       font-size: 24px;
    }

.content{
       margin-top: 13%;
       color: white;
       max-width: 500px;
       padding-left: 200px;
       font-size: 30px;
}

.content h2{
       font-size: 70px;
       font-weight: 630;
       line-height: 70px;
       margin-bottom: 5px;
       text-align: left;
}

.content p{
       text-align: left;
}

.content form{
       display: flex;
       align-items: center;
       background: white;
       border-radius: 35px;
       padding: 10px;
       margin-top: 30px;
}

.content form input{
       border: 0;
       outline: 0;
       width: 100%;
       font-size: 19px;
       padding-left: 10px;
}

.example1{
       position: absolute;
       left: 770px;
       bottom: 550px;
       width: 550px;
       height: 350px;
       border-radius: 30px;
}

.content2{
       margin-top: 13%;
       color: white;
       max-width: 500px;
       padding-left: 380px;
       font-size: 30px;
}

.content2 h2{
       font-size: 70px;
       font-weight: 630;
       line-height: 70px;
       margin-bottom: 5px;
       text-align: left;
}

.exa1{
       position: absolute;
       left: 970px;
       bottom: 0;
       width: 550px;
       height: 350px;
       border-radius: 30px;
}

